language: cpp
sudo: required
dist: xenial
compiler:
- gcc

branches:
  only:
  - master

script:
  - ./build.sh
  - ./install.sh
  - ./test/runTest.sh -p -l 

after_success:
  - PATH=./install/runtime/bin:${PATH} python -m pip install codecov
  - PATH=./install/runtime/bin:${PATH} codecov
